<div class="onboarding-container">

  <div class="logo" >
      <img src="assets/images/RePutLogo.png" alt="logo" />
  </div>

  <div class="onboarding-card" *ngIf="onGoingStep==='step1'">


    <p class="a">Welcome to the Carbon Credit Marketplace!</p>

    <div class="options">
            <button class="back-btn" (click)="loginPage()">
        <svg width="20" height="20" viewBox="0 0 20 20" fill="none">
          <path d="M12.5 15L7.5 10L12.5 5" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
        </svg>
      </button>
      <div    class="option"    [class.active]="selectedRole === 'buyer'"    (click)="selectRole('buyer')"   >
        <div class="icon">  🛒   </div>
        <span>Buyer</span>
        <div *ngIf="selectedRole === 'buyer'" class="check">✔</div>
      </div>

      <div    class="option"    [class.active]="selectedRole === 'seller'"    (click)="selectRole('seller')"  >
        <div class="icon"> 🏦  </div>
        <span>Seller</span>
        <div *ngIf="selectedRole === 'seller'" class="check">✔</div>
      </div>
    </div>

    <button class="start-btn" (click)="startOnboarding()">Start Onboarding</button>

    <p class="footer-text">
      Already registered?
      <a routerLink="/dashboard">Go to Dashboard</a>
    </p>

  </div>



 





  <div class="onboarding-card2" *ngIf="onGoingStep==='step2'">
    <p class="a">Welcome to the Carbon Credit Marketplace!</p>

    <p class="description2" style="color: #666666;font-size: 20px;">
      To ensure a secure and compliant experience, all buyers must complete a
      one-time onboarding process. This mandatory step includes:
    </p>

    <div class="features">
      <div *ngFor="let feature of features">
        <i [class]="feature.icon"></i>
        <span>{{ feature.text }}</span>
      </div>
    </div>

    <div class="buttons">
      <button class="skip-btn" (click)="skipOnboarding()" style="font-weight: bold;font-size: 24px;">Skip Now</button>
      <button class="start-btn" (click)="startOnboarding2()" style="font-weight: bold;font-size: 24px;"> Start Onboarding </button>
    </div>

    <p class="footer-text">
      Already registered?
      <a routerLink="/dashboard">Go to Dashboard</a>
    </p>

  </div>












  <div class="kyc-container" *ngIf="onGoingStep==='step3'">

    <div class="kyc-card">
        <p style="font-size: 32px;font-weight: bold;">Verify your identity to access the marketplace</p>
        <p class="subtitle">
        To comply with global KYC (Know Your Customer) and AML (Anti-Money Laundering) standards, we need some basic details and supporting documents.
        This one-time verification ensures secure and transparent carbon credit transactions.
        </p>

        <!-- Stepper -->
        <div class="stepper">
        <div *ngFor="let step of steps; let i = index" class="step">
            <div class="circle" [class.active]="currentStep === i || i < currentStep">
            {{ i + 1 }}
            </div>
            <span >{{ step }}</span>
            <div *ngIf="i < steps.length - 1" class="line" [class.active]="i < currentStep"></div>
        </div>
        </div>

        <!-- Step Content -->
        <form [formGroup]="kycForm">
        <!-- Step 1 -->
        <div *ngIf="currentStep === 0">
            <h3>Organization Type</h3>
            <div class="org-types">
            <div *ngFor="let type of orgTypes" class="org-card" [class.selected]="selectedOrgType === type.label"
                (click)="selectOrgType(type)">
                <i class="material-icons">{{ type.icon }}</i>
                <p>{{ type.label }}</p>
            </div>
            </div>

            <label>Legal Entity Name*</label>
            <input class="inp" formControlName="entityName" placeholder="Enter Legal Entity Name" />

            <label>Country of Registration*</label>
            <select class="inp" formControlName="country">
            <option value="" disabled>Select ISO country list</option>
            <option *ngFor="let country of countries" [value]="country">{{ country }}</option>
            </select>
        </div>

        <!-- Step 2 -->
        <div *ngIf="currentStep === 1">
          <h3>Upload Documents</h3>

          <div class="upload-row" *ngFor="let doc of documentFields">
            
            <label class="upload-label">{{ doc.label }}</label>

            <div class="upload-box">
              <div class="drop-area" (click)="onFileClick(doc)">
                <i class="material-icons up">cloud_upload</i>
                <p>Drag and drop your file here, or click to browse</p>
                <div class="choose">choose a file</div>
              </div>

              <small *ngIf="uploadedFiles[doc.key]">✅ {{ uploadedFiles[doc.key].name }}</small>
            </div>

          </div>
        </div>


        <!-- Step 3 -->

         <div *ngIf="currentStep === 2" class="kyc-step-two">

    <div class="kyc-row">
        <div class="kyc-group">
            <label class="kyc-label">Full Name</label>
            <input class="kyc-input" formControlName="fullName" placeholder="Enter Full Name" />
        </div>

        <div class="kyc-group">
            <label class="kyc-label">Designation / Role</label>
            <input class="kyc-input" formControlName="role" placeholder="Enter Designation / Role" />
        </div>
    </div>

    <div class="kyc-row">
        <div class="kyc-group">
            <label class="kyc-label">Phone Number</label>

            <div class="kyc-phone-wrapper">
                <select class="kyc-phone-code">
                    <option>+91</option>
                </select>

                <input class="kyc-phone-input" formControlName="phone" placeholder="Enter Phone Number" />
            </div>
        </div>

        <div class="kyc-group">
            <label class="kyc-label">Email Address</label>
            <input class="kyc-input" formControlName="email" placeholder="Enter Email Address" />
        </div>
    </div>

    <div class="kyc-group">
        <label class="kyc-label">Country</label>
        <select class="kyc-input" formControlName="country">
            <option value="">Select Country</option>
        </select>
    </div>

</div>





        <!-- Navigation Buttons -->
        <div class="actions">
            <button type="button" class="back" *ngIf="currentStep > 0" (click)="prevStep()">Back</button>
            <button type="button" class="next" (click)="nextStep()">
            {{ currentStep === steps.length - 1 ? 'Submit' : 'Next' }}
            </button>
        </div>
        </form>
    </div>

  </div>







<p class="rights" style="position: absolute;bottom: 2px;" >© 2024 ALL RIGHTS RESERVED</p>


</div>
