.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 22px;
  border-bottom: 1px solid #e0e0e0;
  background: #fff;
  // height: 100px;
  height: 90px;
}

.left-section {
  display: flex;
  align-items: center;
}

.logo {
  height: 42px;
  margin-right: 12px;
}

.title-section h3 {
  margin: 0;
  font-size: 17px;
  font-weight: 600;
}

.title-section p {
  margin: 0;
  font-size: 12px;
  color: gray;
}

.right-section {
  display: flex;
  align-items: center;
  gap: 8px;
}

.company-icon {
  width: 32px;
  height: 32px;
  border-radius: 50%;
}

.company-name {
  font-size: 14px;
  font-weight: 500;
}

.hamburger {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

/* Dropdown */
.dropdown-menu {
  position: absolute;
  right: 12px;
  top: 70px;
  width: 220px;
  background: white;
  border-radius: 8px;
  box-shadow: 0px 3px 14px rgba(0,0,0,0.18);
  display: flex;
  flex-direction: column;
  padding: 10px 0;
}

.dropdown-menu a,
.submenu {
  padding: 12px 18px;
  font-size: 15px;
  cursor: pointer;
  text-decoration: none;
  color: #212529;
}

.dropdown-menu a:hover,
.active {
  background: #e9f7ec;
  color: #005c32;
  
}

.submenu {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Responsive */
@media (max-width: 600px) {
  .company-name {
    display: none;
  }
}



    .logo{
        // text-align: center;
        margin: 30px;
        justify-content: start;
        position: absolute;
        top: 2%;
        left: 2%;
        img{
            width: 160px;
        }
    }




    .language-dropdown {
  display: flex;
  flex-direction: column;
  background: white;
  margin-top: 0;
  padding-left: 18px;
  border-left: 2px solid #e6e6e6;
}

.language-dropdown a {
  padding: 10px 18px;
  cursor: pointer;
}

.language-dropdown a:hover {
  background: #f3f9f3;
  color: #005c32;
}
