.loginConatiner{
    width: 100%;
    height: 100vh;
    display: flex;
    background-color: #fff;
}

.loginForm{
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .logo{
        text-align: center;
        margin-bottom: 20px;
        img{
            width: 160px;
            margin-bottom: 5px;
        }
    }
    

}


  form {
    // width: 60%;
    width: 30%;
    background: #fff;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    position: absolute;

    label {
      display: block;
      margin-top: 15px;
      font-weight: 500;
      color: #333;
    }

    input[type="email"],
    input[type="password"] {
      width: 100%;
      padding: 10px 12px;
      margin-top: 8px;
      border: 1px solid #ccc;
      border-radius: 6px;
      font-size: 15px;
      outline: none;
    }

    .options {
      display: flex;
      justify-content: space-between;
      align-items: center;
      margin-top: 15px;

      a {
        color: #0b57d0;
        font-size: 14px;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }

    button {
      width: 100%;
      background-color: #0b3317;
      color: white;
      font-size: 16px;
      border: none;
      border-radius: 6px;
      padding: 10px 0;
      margin-top: 20px;
      cursor: pointer;

      &:disabled {
        background-color: #ccc;
        cursor: not-allowed;
      }
    }

    .signup-text {
      text-align: center;
      margin-top: 15px;
      font-size: 14px;

      a {
        color: #0b57d0;
        text-decoration: none;

        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .footer {
    margin-top: auto;
    text-align: center;
    font-size: 13px;
    color: #555;
    display: flex;
    gap: 117px;

    a {
    //   color: #0b57d0;
      color: #777;
      margin-right: 20px;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }

    p {
    //   margin-top: 5px;
      font-size: 12px;
      color: #777;
    }
  }



.loginImage{
    position: absolute;
    right: 2%;
    top: 4%;
    width: 50%;
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
       img{
         width: 100%;
         height: 816px; 
         object-fit: cover;  
         border-radius: 15px;
       }
}

 