<app-navbar></app-navbar>

<div style="background: #EAF6EA;padding: 20px;    width: 100%;height: 100%;" >

<h2 class="page-title" style="padding-left: 25px;">Assets</h2>


  <!-- Search + Filter -->
  <div class="actions" style="padding-left: 22px;">
    <div class="search-box">
      <input
        type="text"
        placeholder="Search Projects....."
        [(ngModel)]="searchText"
        (input)="applyFilter()"
      />
      <span class="icon">🔍</span>
    </div>

    <button class="filter-btn" (click)="toggleFilter()">
      Filter 
    </button>
  </div>

<div class="portfolio-container">

  <!-- Page Title -->



  <!-- Table -->
  <div class="table-wrapper">
    <table>
      <thead>
        <tr>
          <th>Project Name</th>
          <th>Standard</th>
          <th>Vintage year</th>
          <th>Expiry Date</th>
          <th>Quantity</th>
          <th>Price</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let asset of filteredAssets">
          <td>{{ asset.projectName }}</td>
          <td>{{ asset.standard }}</td>
          <td>{{ asset.vintage }}</td>
          <td>{{ asset.expiry }}</td>
          <td>{{ asset.quantity }}</td>
          <td class="price">${{ asset.price }}</td>
        </tr>
      </tbody>
    </table>
  </div>

  <!-- Wallet Summary -->
  <div class="wallet-box">
    <div class="wallet-header">
      <span>Wallet Summary</span>
      <span class="wallet-icon" (click)="openWalletPopup()">wallet</span>
    </div>

    <div class="wallet-card">
      <h1>$ {{ walletAmount }}</h1>
      <p>INR</p>
    </div>
  </div>
</div>


</div>

<!-- Wallet Popup -->
<div class="popup-backdrop" *ngIf="walletPopup" (click)="closePopup()"></div>

<div class="wallet-popup" *ngIf="walletPopup">
  <div class="popup-title">
    Wallet Settings
    <span class="close" (click)="closePopup()">✖</span>
  </div>

  <p class="label">Wallet Address (Polygon)</p>

  <div class="address-row">
    <span>{{ walletAddress }}</span>
    <button class="copy-btn" (click)="copyAddress()" style="border: none;">Copy 📋</button>
  </div>

  <div class="popup-buttons">
    <button class="change-pin">Change Pin</button>
    <button class="forgot-pin">I forgot my pin</button>
  </div>
</div>


